/* Sposto il menù sulla destra */
#main-navigation {
  left:0;
  right: auto;
}
body, div#cookies {
  margin-left: 300px!important;
}

/* Rimuovo i tasti per aprire e chiudere il menu */
a#hamburger,
a#chiudi-menu-principale {
  display: none;
}

/* Centro la parte centrale della pagina */
section.l-content-container > div.l-container {
  max-width: 1000px;
  margin: auto;
}